.card-title{
    cursor: pointer;
}

.card-title:hover{
    color: grey; 
    
}

.card{
    background-color: rgba(25, 41, 47,0.67);
    color: black;
    border:1px  blue;
    
}

.quotes{
    margin-top: 100px;
    color: black;
    display: inline-flexbox;
}

.container{
    width: 80%;
    float: left;
}

.popularQuote{
    width: 20%;
    float: right;
}
.card-columns{
    column-count: 4;
}

